@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}

section {
  /* min-height: 100vh;
  height: fit-content; */
  padding: 1em;
  padding-top: 12vh;
}

section > h2 {
  text-align: center;
  padding-bottom: 2.5em;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-items {
  align-items: center;
}

#section-contact {
  background-color: #98c1d9;
}

#section-home {
  background-image: url(/imgs/bg.png);
  background-repeat: repeat;
}

#section-about {
  background-color: #324864;
  color: white;
}

#section-about h3,
#section-about div {
  padding-bottom: 1em;
}

.presentation {
  flex-basis: 100%;
}

.interests {
  flex-basis: 100%;
}

.contact-img {
  display: none;
}

.contact-form-container {
  padding: 1em;
  border-radius: 1%;
  background-color: #ee6c4d;
  margin: auto 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1em;
  border-radius: 1%;
  margin-bottom: 1em;
  border: none;
}

.contact-form button {
  padding: 0.5em;
  border-radius: 1%;
  border: none;
  background-color: #2a2f46;
  color: white;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #3d5a80;
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(51, 52, 56);
}

.logo,
.burger,
.close-burger {
  color: white;
  font-size: 1.5em;
}

.nav-links {
  position: absolute;
  right: 0;
  height: 90vh;
  top: 10vh;
  background-color: rgb(51, 52, 56);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(0%);
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 0.75em;
  padding: 1em;
  border-radius: 1%;
}

.nav-links a:hover {
  background-color: white;
  color: rgb(51, 52, 56);
}

@media screen and (min-width: 768px) {
  .nav-links {
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    transform: none;
  }

  .burger {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .presentation {
    flex-basis: 40%;
  }

  .interests {
    flex-basis: 40%;
  }

  .contact-img {
    display: inline;
  }

  .nav-links {
    width: 35%;
  }
}
