@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}

section {
  height: 100vh;
  height: fit-content;
  padding: 1em;
}

section > h2 {
  text-align: center;
  padding-bottom: 1em;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-items {
  align-items: center;
}

#section-contact {
  background-color: #3884df;
}

#section-home {
  background-image: url(/imgs/bg.png);
  background-repeat: repeat;
}

#section-about {
  background-color: #324864;
  color: white;
}

#section-about h3,
#section-about div {
  padding-bottom: 1em;
}

.presentation {
  flex-basis: 100%;
}

.interests {
  flex-basis: 100%;
}

.contact-img {
  display: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1em;
  border-radius: 1%;
  margin-bottom: 1em;
  border: none;
}

.contact-form button {
  padding: 0.5em;
  border-radius: 1%;
  border: none;
  background-color: #293241;
  color: white;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #3d5a80;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .presentation {
    flex-basis: 40%;
  }

  .interests {
    flex-basis: 40%;
  }

  .contact-img {
    display: inline;
  }
}
